<div class="row">
    <div class="col-lg-6">

        <div class="col-lg-12">
            <div class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="control-label col-lg-2">Template:</label>

                    <div class="col-lg-10">
                        <button name="addNewTemplate" class="btn btn-default">
                            <dialog size="lg" template="/tpl/template-create-modal.html"/>
                            Add new template ...
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="inputTemplateFilter" class="control-label col-lg-2">Select:</label>
                    <div class="col-lg-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            <input reset-addon="{ side: 'right' }" type="text" id="inputTemplateFilter" class="form-control" placeholder="filter by name..." ng-model="templateFilterTerm"/>
                        </div>
                        <div class="separator-20"></div>
                        <div class="template-selector">
                            <table class="table table-striped">
                                <tbody>
                                <tr ng-repeat="template in availableTemplates | filter:templateFilterTerm">
                                    <td class="text-center" ng-bind="$index + 1"></td>
                                    <td ng-bind="template.name"></td>
                                    <td>
                                        <div class="pull-right">
                                            <span class="label label-danger hand" style="margin-right: 3px;">
                                                <dialog size="md" header="'Remove Template'" body="'Are you sure you want to remove this template?'" ng-model="onTemplateRemove" params="[$index, template]" type="proceed"></dialog>
                                                REMOVE&nbsp;<i class="fa fa-times"></i>
                                            </span>
                                            <span ng-show="campaign.template.selection.name === template.name" class="label hand" ng-class="(campaign.template.selection != null && campaign.template.selection.name === template.name) ? 'label-info' : 'label-default'" ng-click="onTemplateDeselected()">DESELECT</span>
                                            <span ng-show="campaign.template.selection.name != template.name" class="label hand" ng-class="(campaign.template.selection != null && campaign.template.selection.name === template.name) ? 'label-info' : 'label-default'" ng-click="onTemplateSelected($index)">SELECT</span>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-lg-6">

        <div class="col-lg-12">

            <div ng-show="campaign.template.selection == null">
                <ul class="list-unstyled">
                    <li>Select a template for the campaign...</li>
                    <li>You can also filter the available templates typing the template name.</li>
                </ul>
            </div>

            <div ng-show="campaign.template.selection != null">

                <div class="row">
                    <ul class="list-unstyled selected-template">
                        <li>
                            <div>
                                <span><i class="fa fa-file-text-o fa-2x"></i></span>
                                <span class="selected-template-header" ng-bind="campaign.template.selection.name"></span>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="row">
                    <dl class="dl-horizontal right">
                        <dt>DATE:</dt>
                        <dd><span ng-bind="campaign.template.selection.created | date:'medium'"></span></dd>
                        <dt>DESCRIPTION:</dt>
                        <dd><span ng-bind="campaign.template.selection.description"></span></dd>
                        <dt>FILE:</dt>
                        <dd><var><span ng-bind="campaign.template.selection.filename"></span></var></dd>
                        <dt>TYPE:</dt>
                        <dd>
                            <span ng-show="campaign.template.selection.metadata === null" class="label label-primary">PENDING</span>
                            <span ng-show="campaign.template.selection.metadata != null && !campaign.template.selection.metadata.valid" class="label label-warning">NOT VALID</span>
                            <span ng-show="campaign.template.selection.metadata.static" class="label label-primary">STATIC</span>
                            <span ng-show="campaign.template.selection.metadata.survey" class="label label-primary">SURVEY</span>
                        </dd>

                        <fieldset ng-show="campaign.template.selection.metadata.survey">
                        <dt>METADATA:</dt>
                        <dd>
                            <span ng-show="campaign.template.selection.metadata === null"><span class="label label-warning">CHECK...</span></span>
                            <span ng-show="campaign.template.selection.metadata != null"><i class="text-success fa fa-check-o va-middle"></i><span class="label label-success">CHECKED!</span></span>
                        </dd>
                        </fieldset>
                        <dt>ATTACHMENTS:</dt>
                        <dd>
                            <span ng-show="campaign.template.selection.attachments.length === 0" class="text-primary">
                                NO ATTACHMENTS FOUND.
                            </span>
                            <span ng-show="campaign.template.selection.attachments.length > 0" popover-placement="right" popover-template="/tpl/template-attached-files.html" popover-trigger="mouseenter">
                                <a>{{campaign.template.selection.attachments.length}}&nbsp;file(s)</a>
                            </span>
                        </dd>
                    </dl>
                </div>

                <div class="row">
                    <span class="label label-default hand template-action">
                        <dialog size="lg" header="'Template Analysis'" template="/tpl/template-analyze-modal.html" ng-model="campaign.template.selection"/>
                        <span ng-show="campaign.template.selection.metadata == null">ANALYZE</span>
                        <span ng-show="campaign.template.selection.metadata != null && !campaign.template.selection.metadata.valid">REVIEW</span>
                        <span ng-show="campaign.template.selection.metadata != null && campaign.template.selection.metadata.valid">METADATA</span>&nbsp;<i class="fa fa-file-code-o"></i>
                    </span>
                    <span class="label label-default hand template-action" ng-show="campaign.template.selection.metadata.valid">
                        <dialog size="md" header="'Attach File'" body="'Not implemented yet!'"/>
                        ATTACH FILE&nbsp;<i class="fa fa-file-text-o"></i>
                    </span>
                    <span class="label label-default hand template-action">
                        <dialog class="template-preview" size="lg" header="'Template Preview'" ng-model="campaign.template.selection" template="/tpl/template-preview-modal.html"></dialog>
                        PREVIEW&nbsp;<i class="fa fa-file-text-o"></i>
                    </span>
                </div>
            </div>

        </div>

    </div>
</div>

<script id="/tpl/template-attached-files.html" type="text/ng-template">
    <table class="table table-condensed" style="width: 200px;">
        <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-left">FILENAME</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="attachment in campaign.template.selection.attachments">
                <td class="text-center">{{$index + 1}}</td>
                <td class="text-left">{{attachment.filename}}</td>
            </tr>
        </tbody>
    </table>
</script>
