// = Dashboard - Graph
div.dashboard-chart-section div.weekly-chart {
  padding-top: 8px;
}
div.dashboard-chart-section div.weekly-chart span {
  cursor: pointer;
}
div.dashboard-chart-section div.weekly-chart-container {
  width: 100%;
  height: 280px;
}
div.dashboard-chart-section div.weekly-chart-container .weekly-chart {
  width: 100%;
  height: 280px;
}

table.dashboard tbody tr td div.progress {
  margin-bottom: 0px !important;
}

.fa-frequency {
  vertical-align: text-top;
  margin-left: 5px;
}
