.col-scheduleDateGroup {
  width: 27% !important;
}
.custom-datepicker table tr td {
  border-radius: 0 !important;
}
.custom-datepicker table tr td button {
  border-radius: 0 !important;
}
.custom-datepicker table tr td button.btn-default {
  color: #000000;
  background-color: white !important;
  border-color: white !important;
}
.custom-datepicker table tr td button.active {
  background-color: grey !important;
  color: white !important;
  border-radius: 6px !important;
}
.custom-datepicker table tr td button.active span.text-info {
  color: white !important;
}
