//$iconSpritePath: "../images/glyphicons-halflings.png";
//$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

$icon-font-path: "../bower_components/components-font-awesome/fonts";
$fa-font-path: "../bower_components/components-font-awesome/fonts";

@import "datepicker";
@import "timepicker";
@import "sticky-fn";
@import "multi-select";
@import "spinner";
@import "reset-addon";
@import "target";
@import "template";
@import "dashboard";
@import "tabs";
@import "popover";
@import "./../bower_components/components-font-awesome/scss/font-awesome";

// CSS
// Original Bootstrap's CSS depends on empty href attributes to style cursors for several components (pagination, tabs etc.).
// But in AngularJS adding empty href attributes to link tags will cause unwanted route changes. This is why we need to remove empty href attributes from directive templates and as a result styling is not applied correctly.
// The remedy is simple, just add the following styling to your application:
.nav, .pagination, .carousel, .panel-title, a { cursor: pointer; }

html, body {
  font-family: 'Open Sans', sans-serif;
}

// = Cursor
.hand {
  cursor: pointer;
}

// = Input file button fix.
.file {
  line-height: 1.42860;
}
.add-on {
  line-height: 1.42860;
}

// = Table
.first-column {
  width: 40px;
}

// = Header
div.navbar.navbar-fixed-top {
  -moz-box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
  background-color: white;
}

// == bootstrap-upload
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}

// = New Campaign
div.tabbable ul.nav.nav-tabs li {
  cursor: pointer;
}

// = Separator
@for $index from 1 through 5 {
  .separator-#{$index*10} {
    padding-top: #{$index*10}px;
  }
}


// = Command
.command-bar {
  border-top: 1px solid #dddddd;
  padding-top: 20px;
}

.table thead > tr > th {
  vertical-align: middle;
}

// Pagination
div.pagination-container { }
div.pagination-container div.pagination-widget ul {
  margin: 0px !important;
}

div.pagination-container div.pagination-legend {
  margin-top: 10px;
}

// Centered Columns
.row-centered {
  text-align:center;
}

.col-centered {
  display:inline-block;
  float:none;

  // reset the text-align
  text-align:left;

  // inline-block space fix
  margin-right:-4px;
}


.callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}

.callout-danger {
  border-left-color: #d9534f;
}

.act-media {
  border-bottom: 1px solid #eee;
}

.text-normal {
  font-size: 14px !important;
}

// = Grids
.col-frequency {
  width: 60px;
}
