// == ng-reset
span.ng-reset {
  background-color: #ffffff !important;
}
span.ng-reset.disabled {
  background-color: #eeeeee !important;
}
span.ng-reset i {
  color: #d9534f;
}
button.ng-reset {
  background-color: #ffffff !important;
}
button.ng-reset.disabled {
  background-color: #eeeeee !important;
}
button.ng-reset i {
  color: #d9534f;
}