<div ng-controller="templateAnalyzeController">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">
            <span ng-show="templateMetadata.valid">Template Analysis</span>
            <span ng-show="!templateMetadata.valid">Template Rules</span>
        </h4>
    </div>
    <div class="modal-body">

        <div ng-show="!templateMetadata.valid">
            <div >
                <dl>
                    <dt class="text-primary">Survey Templates</dt>
                    <dd>
                        <div class="separator-10"></div>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-chevron-right"></i>&nbsp;Must contain a FORM element</li>
                            <li><i class="fa fa-chevron-right"></i>&nbsp;Must contain HIDDEN elements with the campaign information. <span class="label label-warning">Required:</span>&nbsp;<var>campaignId, token and email.</var></li>
                            <li><i class="fa fa-chevron-right"></i>&nbsp;Contains or not any elements of type CHOICE, TEXT or MULTILINE TEXT.</li>
                        </ul>
                    </dd>
                </dl>

                <dl>
                    <dt class="text-primary">Static Templates</dt>
                    <dd>
                        <div class="separator-10"></div>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-chevron-right"></i>&nbsp;Static templates does not contains any elements of a survey. They are plain html files.</li>
                        </ul>
                    </dd>
                </dl>
            </div>
        </div>

        <div ng-show="!templateMetadata.elements && templateMetadata.valid">
            <div class="separator-50"></div>
            <div class="text-center">
                <h4><i class="fa-2x text-info fa fa-refresh fa-spin"></i>&nbsp;&nbsp;Analyzing template structure...</h4>
            </div>
            <div class="separator-50"></div>
        </div>

        <div ng-show="templateMetadata.valid && templateMetadata.static">
            <div class="separator-50"></div>
            <div class="text-center">
                <h4><i class="fa-2x text-info fa fa-file-code-o"></i>&nbsp;&nbsp;This template is static and doesn't not contains survey elements...</h4>
            </div>
            <div class="separator-50"></div>
        </div>

        <div ng-show="templateMetadata.valid && !templateMetadata.static">
            <i class="text-success fa fa-check-square-o fa-2x va-middle"></i> &nbsp; After scanning the selected template we found the following elements...

            <tabset class="template-analyze-tabset-content tabs-left">

                <tab ng-repeat="(heading, elements) in templateMetadata.elements" heading="{{getTabName(heading)}}" active="tabs($index).active">

                    <div class="template-analyze-tab-content">

                        <div class="form-group" ng-switch="heading">
                            <div ng-switch-when="CHOICE">
                                <h4>CHOICE Elements:</h4>
                                <p></p>
                                <div class="separator-10"></div>
                            </div>
                            <div ng-switch-when="FORM">
                                <h4>FORM Elements:</h4>
                                <p></p>
                                <div class="separator-10"></div>
                            </div>
                            <div ng-switch-when="HIDDEN">
                                <h4>HIDDEN Elements:</h4>
                                <p></p>
                                <div class="separator-10"></div>
                            </div>
                            <div ng-switch-when="TEXT">
                                <h4>TEXT Elements:</h4>
                                <p></p>
                                <div class="separator-10"></div>
                            </div>
                            <div ng-switch-when="MULTILINE_TEXT">
                                <h4>MULTILINE TEXT Elements:</h4>
                                <p></p>
                                <div class="separator-10"></div>
                            </div>
                        </div>

                        <fieldset ng-disabled="heading=='HIDDEN'">
                            <div class="form-horizontal form-group-sm" ng-repeat="element in elements">

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Key</label>
                                    <div class="col-sm-10">

                                        <div class="form-inline">
                                            <div class="form-group">
                                                <p class="form-control-static"><span class="label label-info" ng-bind="element.key"/></p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Name</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" placeholder="Name" ng-model="element.name">
                                    </div>
                                    <div class="col-md-offset-7"></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Description</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" placeholder="Description" ng-model="element.description">
                                    </div>
                                    <div class="col-md-offset-3"></div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </tab>
                <tab heading="MAPPING">
                    <div class="template-analyze-tab-content">
                        <h4>Mappings:</h4>
                        <p>Value Mapping lets you set the meaning of each value in an element. For example given a range of <br/> values <var>(-2, -1, 0, 1, 2)</var> you can map those values to <var>(Really Bad, Bad, Neutral, Good, Very Good)</var>.</p>

                        <div class="separator-10"></div>

                        <div class="form-horizontal form-group-sm" ng-repeat="(key, element) in templateMetadata.elements.CHOICE">

                            <div class="separator-10"></div>

                            <div class="form-group">
                               <span><i class="fa fa-chevron-right va-middle"></i>&nbsp;&nbsp;Element:&nbsp;</span><span class="label label-default">{{element.key}}:</span>&nbsp;<a class="text-normal" ng-click="customize = !customize">customize</a>
                            </div>

                            <div collapse="!customize" class="form-group" ng-repeat="mapping in element.valueMappings">
                                <label class="col-sm-2 control-label">Value ({{mapping.key}}):</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" placeholder="Mapping to..." ng-model="mapping.value">
                                </div>
                                <div class="col-md-offset-7"></div>
                            </div>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="close()">CLOSE</button>
        <button class="btn btn-primary" ng-click="setMetadata()" ng-show="templateMetadata.valid && templateMetadata.survey">SET METADATA</button>
    </div>
</div>