<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="close()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">Template Preview</h4>
</div>
<div class="modal-body template-preview-body">
    <iframe class="template-preview-frame" ng-frame ng-model="templateContent"/>
</div>
<div class="modal-footer template-preview-footer">
    <button class="btn btn-primary" ng-click="close()">CLOSE</button>
</div>
