<div class="row">
    <div class="col-lg-12">

        <h4>Preferences</h4>

        <div class="separator-10"/>

        <p>Sets the global settings of the application.</p>

        <div class="separator-10"/>

        <div class="row">

            <div class="col-lg-6">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input reset-addon="{ side: 'right' }" type="text" id="inputPreferenceFilter" class="form-control" placeholder="filter by namespace..." ng-model="preferenceFilterTerm"/>
                </div>
            </div>

            <div class="col-lg-offset-6"></div>
        </div>

        <div class="separator-20"/>

        <div class="row">
            <div class="col-lg-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Preference Key</th>
                            <th>Preference Value</th>
                            <th>Namespace</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="preference in preferences | filter: {namespace: preferenceFilterTerm}">
                            <td><span>{{preference.preferenceKey}}</span></td>
                            <td>
                                <span>{{preference.preferenceValue}}</span>
                                <span ng-show="!preference.readOnly" class="hand">
                                    <dialog size="md" template="/tpl/preference-update-modal.html" ng-model="preference"/>
                                    <i class="fa fa-pencil-square-o red"></i><span>edit</span>
                                </span>
                            </td>
                            <td><span class="label label-primary">{{preference.namespace}}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>