<div class="row">
    <div class="col-lg-12">

        <tabset class="campaign-view-tabset-content tabs-left">
            <tab heading="Overview">
                <div class="campaign-view-tab-content">
                    <div ng-include="'/views/campaign-view/campaign-view-overview-tab.html'"></div>
                </div>
            </tab>

            <tab heading="Targets">
                <div class="campaign-view-tab-content">
                    <div ng-include="'/views/campaign-view/campaign-view-targets-tab.html'"></div>
                </div>
            </tab>

            <tab heading="Statistics">
                <div class="campaign-view-tab-content">
                    <div ng-include="'/views/campaign-view/campaign-view-statistics-tab.html'"></div>
                </div>
            </tab>
        </tabset>

    </div>
</div>
