<tabset class="campaign-view-tabset-content tabs-left">
    <tab heading="Overview">
        <div class="campaign-view-tab-content">
            <div ng-include="'/views/campaign-view/campaign-view-overview-tab.html'"></div>
        </div>
    </tab>

    <tab heading="Targets">
        <div class="campaign-view-tab-content">
            <div ng-include="'/views/campaign-view/campaign-view-targets-tab.html'"></div>
        </div>
    </tab>

    <tab heading="Statistics">
        <div class="campaign-view-tab-content">
            <div ng-include="'/views/campaign-view/campaign-view-statistics-tab.html'"></div>
        </div>
    </tab>
</tabset>


<!--<div class="row">-->
    <!---->
    <!---->
    <!--<div class="col-lg-6">-->

        <!--<h4><i class="fa fa-bar-chart-o"></i>&nbsp;{{campaign.name}} - ({{campaignId}})</h4>-->
        <!--<div class="separator-10"></div>-->
        <!--<p>{{campaign.description}}</p>-->

        <!--<table class="table table-condensed">-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<th class="text-center">#</th>-->
                <!--<th class="text-left">EMAIL</th>-->
                <!--<th class="text-left">FEEDBACK</th>-->
                <!--<th class="text-left">ACTION</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
                <!--<tr ng-repeat="target in campaign.targets">-->
                    <!--<td>{{$index + 1}}</td>-->
                    <!--<td>{{target.email}}</td>-->
                    <!--<td><span class="label" ng-class="{'label-success' : target.feedback, 'label-danger' : !target.feedback}">{{target.feedback ? "RECEIVED" : "PENDING" }}</span></td>-->
                    <!--<td></td>-->
                <!--</tr>-->
        <!--</table>-->

        <!--<table class="table table-condensed">-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<th ng-repeat="label in campaign.feedback.labels">{{label}}</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr ng-repeat="feedback in campaign.feedbacks">-->
                <!--<th ng-repeat="attribute in feedback.attributes">-->
                    <!--{{attribute.value}}-->
                <!--</th>-->
            <!--</tr>-->
        <!--</table>-->
    <!--</div>-->
    <!--<div class="col-lg-6">-->

        <!--<div class="row">-->
            <!--<div class="separator-20"></div>-->
            <!--<div class="col-lg-6">-->
                <!--<dl class="dl-horizontal right">-->
                    <!--<dt class="text-primary">CREATION</dt>-->
                    <!--<dd><span>{{ campaign.created | date: 'MM-dd-yyyy hh:mm:ss' }}</span></dd>-->
                    <!--<dt class="text-primary">EXPIRATION</dt>-->
                    <!--<dd><span>{{ ((campaign.expirationDate) === null) ? "NO EXPIRATION" :  (campaign.expirationDate | date: 'MM-dd-yyyy hh:mm:ss')}}</span></dd>-->
                    <!--<dt class="text-primary">START DATE</dt>-->
                    <!--<dd><span>{{ ((campaign.startDate) === null) ? "NO STARTED" :  (campaign.startDate | date: 'MM-dd-yyyy hh:mm:ss')}}</span></dd>-->
                    <!--<dt class="text-primary">END DATE</dt>-->
                    <!--<dd><span>{{ campaign.endDate | date: 'MM-dd-yyyy hh:mm:ss' }}</span></dd>-->
                <!--</dl>-->
            <!--</div>-->

            <!--<div class="col-lg-6">-->
                <!--<dl class="dl-horizontal right">-->
                    <!--<dt class="text-primary">STATUS</dt>-->
                    <!--<dd><span class="label label-default" ng-class="{'label-warning': (campaign.status === 'WAITING_FOR_FEEDBACK'), 'label-info': (campaign.status === 'STARTED'), 'label-success': (campaign.status === 'CLOSED')}">{{ campaign.status }}</span></dd>-->
                    <!--<dt class="text-primary">TEMPLATE</dt>-->
                    <!--<dd><span>{{ campaign.template.name }}</span></dd>-->
                    <!--<dt class="text-primary">TARGET(S)</dt>-->
                    <!--<dd><span>{{ campaign.targets.length }}</span></dd>-->
                    <!--<dt class="text-primary">FEEDBACK(S)</dt>-->
                    <!--<dd><span>{{ campaign.feedbacks.length }}</span></dd>-->
                <!--</dl>-->
            <!--</div>-->
        <!--</div>-->

    <!--</div>-->
<!--</div>-->