<div ng-controller="campaignViewTargetsController">
    <div class="col-lg-12 pad-right-0 pad-left-0">
        <h4><i class="fa fa-user icon-x-large icon-ligthgray va-middle"></i>&nbsp;&nbsp;&nbsp;Target(s)</h4>
        <p>Click on <span class="text-primary">remind</span> action button to resend the campaign to an specific user.</p>
        <div class="separator-10"></div>
    </div>

    <div class="col-lg-8 pad-left-0">
        <button class="btn btn-default" ng-disabled="campaign.closed">
            <dialog header="'Add Target(s)'" body="'Not implemented yet!'"/>
            <span>Add target</span>
        </button>

        <div class="separator-10"></div>

        <table st-table="targets" class="table table-condensed">
            <thead>
            <tr>
                <th class="text-center">#</th>
                <th st-sort="name" class="text-left">NAME</th>
                <th st-sort="email" class="text-left">EMAIL</th>
                <th class="text-left">FEEDBACK</th>
                <th class="text-left">ACTION</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="target in targets">
                <td class="text-center">{{$index + 1}}</td>
                <td>{{target.name}}</td>
                <td>{{target.email}}</td>
                <td><span class="label" ng-class="target.feedback ? 'label-success' : 'label-danger'">{{ target.feedback ? "RECEIVED" : "PENDING" }}</span>
                </td>
                <td>
                    <fieldset ng-disabled="campaign.closed">
                        <span ng-show="!target.feedback && !campaign.closed" class="btn btn-xs btn-default">
                            <dialog size="md" header="'Remind Campaign'" template="/tpl/template-campaign-view-targets-remid.html" ng-model="onResend" params="[$index, campaign.id, target]" type="proceed"/>
                            <span>REMIND</span>
                        </span>
                        <span class="btn btn-xs btn-primary">
                            <dialog size="md" header="'Remove Target'" template="/tpl/template-campaign-view-targets-remove.html" ng-model="onRemove" params="[$index, campaign.id, target]" type="proceed"/>
                            <span>REMOVE</span>
                        </span>
                    </fieldset>
                </td>
            </tr>
        </table>

        <div class="row pagination-container">
            <div class="pull-left pagination-legend">
                <span>Showing page {{ pagination.page.number }} of {{ pagination.getTotalPages() }} page(s) - {{ pagination.page.size }} campaigns per page.</span>
            </div>
            <div class="pull-right pagination-widget">
                <pagination
                        boundary-links="true"
                        total-items="pagination.page.totalElements"
                        ng-model="pagination.page.number"
                        rotate="false"
                        max-size="maxSize"
                        num-pages="pagination.page.totalPages"
                        items-per-page="pagination.page.size">
                </pagination>
            </div>
        </div>
    </div>

    <div class="col-lg-4 pad-right-0">
        <div class="text-center">
            <div class="thumbnail">
                <div class="caption">
                    <h4><i class="fa fa-envelope-o fa-2x icon-ligthgray va-middle"></i>&nbsp;&nbsp;&nbsp;Response Rate</h4>
                    <progressbar class="progress-striped active" max="100" value="responseRate() | number: 2" type="success">
                        <i>{{campaign.feedbackNumber}} / {{targets.length}}</i>
                    </progressbar>
                    <p><span>{{responseRate() | number: 0}}%</span> of the users replied to this campaign</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="/tpl/template-campaign-view-targets-remid.html" type="text/ng-template">
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="close()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">Resend Mail</h4>
</div>
<div class="modal-body">
    <p>You are about to re-send the survey to the selected user. </p>
    <p>Are you sure you want to proceed?</p>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="close()">CLOSE</button>
    <button class="btn btn-primary" ng-click="proceed()">PROCEED</button>
</div>
</script>

<script id="/tpl/template-campaign-view-targets-remove.html" type="text/ng-template">
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="close()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">Resend Mail</h4>
</div>
<div class="modal-body">
    <p>You are about to remove the selected user from the target list.</p>
    <p>Are you sure you want to proceed?</p>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="close()">CLOSE</button>
    <button class="btn btn-primary" ng-click="proceed()">PROCEED</button>
</div>
</script>


