<div class="row">
    <div class="col-lg-8">
        <div class="form-horizontal" role="form">
            <div class="form-group">
                <label for="inputName" class="control-label col-lg-2">Name:</label>
                <div class="col-lg-6">
                    <input type="text" id="inputName" class="form-control" placeholder="Name" ng-model="campaign.basic.name" ng-required="true"/>
                </div>
            </div>

            <div class="form-group">
                <label for="inputDescription" class="control-label col-lg-2">Description:</label>
                <div class="col-lg-8"><textarea id="inputDescription" class="form-control" placeholder="Description" rows="4" ng-model="campaign.basic.description"></textarea></div>
            </div>

            <div class="form-group">
                <label class="control-label col-lg-2">Frequency:</label>
                <div class="col-lg-10">

                    <div class="btn-group" dropdown is-open="campaign.basic.frequencyIsOpen">
                        <button type="button" class="btn btn-danger">{{campaign.basic.frequency}}</button>
                        <button type="button" class="btn btn-danger dropdown-toggle">
                            <span class="caret"></span>
                            <span class="sr-only">&nbsp;</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="dispatch in campaign.basic.frequencies"><a ng-click="selectFrequency(dispatch)">{{dispatch}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-lg-2"></label>
                <div class="col-lg-10">
                    <p>This campaign will be sent <span class="label label-info">{{campaign.basic.frequency}}</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-offset-4"/>
</div>

