<div class="row">
    <div class="col-lg-12">

        <h4><i class="fa fa-align-justify"></i>&nbsp;All Campaigns</h4>

        <div class="separator-10"/>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus lobortis odio eu lobortis pellentesque.
        Aliquam nec placerat magna. In euismod condimentum nunc, id vehicula erat ultricies et. Ut ac dignissim libero. Sed risus eros, bibendum sed dolor egestas, posuere sagittis quam. Aenean mollis euismod erat. In aliquet, nisi id luctus tincidunt, velit nibh mollis orci, ac gravida justo est</p>

        <div class="separator-10"/>

        <div class="col-lg-12">
            <div class="row">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th>CAMPAIGN NAME</th>
                            <th class="text-center">CREATED</th>
                            <th class="text-center">STATUS</th>
                            <th class="text-center">STARTED</th>
                            <th class="text-center">ENDED</th>
                            <th class="text-center">#TARGETS</th>
                            <th class="text-center">#FEEDBACKS</th>
                            <th class="text-center">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="campaign in campaigns">
                            <td class="text-center">{{$index + 1}}</td>
                            <td><a ng-href="#/campaigns/{{campaign.id}}">{{ campaign.name }}</a></td>
                            <td class="text-center">{{campaign.created | date:'yyyy-MM-dd'}}</td>
                            <td class="text-center"><span class="label label-default" ng-class="{'label label-danger disabled': (campaign.status === 'WAITING_FOR_FEEDBACK'), 'label label-info': (campaign.status === 'STARTED'), 'label label-success disabled': (campaign.status === 'CLOSED')}">{{ campaign.status }}</span></td>
                            <td class="text-center">{{campaign.startDate | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
                            <td class="text-center">{{campaign.endDate | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
                            <td class="text-center">{{campaign.targets.length}}</td>
                            <td class="text-center">{{campaign.feedbackNumber}}</td>
                            <td class="text-center">
                                <a ng-show="campaign.status === 'CLOSED'"><i class="fa fa-times-circle"></i></a>
                            </td>
                        </tr>
                    </tbody>
                    <tbody ng-show="!campaigns.length">
                        <tr>
                            <td colspan="8" class="text-center">
                                <span>There's no campaigns to show. To start creating campaigns click <a href="#/campaign/create">here</a></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row pagination-container">
                <div class="pull-left pagination-legend">
                    <span>Showing page {{ pagination.page.number }} of {{ pagination.page.totalPages }} page(s) - {{ pagination.page.size }} campaigns per page.</span>
                </div>
                <div class="pull-right pagination-widget">
                    <pagination
                            boundary-links="true"
                            total-items="pagination.page.totalElements"
                            ng-model="pagination.page.number"
                            rotate="false"
                            max-size="maxSize"
                            num-pages="pagination.page.totalPages"
                            items-per-page="pagination.page.size">
                    </pagination>
                </div>

            </div>

        </div>
    </div>
</div>