<div class="row">
    <div class="col-lg-8">
        <div class="form-horizontal" role="form">

            <div class="form-group">
                <label class="control-label col-lg-2">Dispatch:</label>
                <div class="col-lg-10">
                    <div class="btn-group btn-group-sm">
                        <button name="schedulingMode" type="button" class="btn" ng-class="(!campaign.scheduling.enabled) ? 'btn-info' : 'btn-default'" ng-model="campaign.scheduling.enabled" btn-radio="false">Manual</button>
                        <button name="schedulingMode" type="button" class="btn" ng-class="(campaign.scheduling.enabled) ? 'btn-info' : 'btn-default'" ng-model="campaign.scheduling.enabled" btn-radio="true">Automatic</button>
                    </div>
                </div>
            </div>

            <fieldset ng-disabled="!campaign.scheduling.enabled">
                <div class="form-group">
                    <label class="control-label col-lg-2">Schedule:</label>
                    <div class="col-lg-3 col-scheduleDateGroup">
                        <div class="input-group">
                            <input type="text" id="scheduleDate" name="scheduleDate" class="form-control" value="{{campaign.scheduling.date | date: 'MM/dd/yyyy'}}">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="onScheduleDateClear()"><i class="glyphicon glyphicon-remove"></i></button>
                                <button type="button" class="btn btn-default" popover-placement="bottom" popover-template="/tpl/schedulingDate.html" is-open="{{campaign.scheduling.dateIsOpen}}"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-scheduleTimeGroup">
                        <div class="input-group">
                            <input type="text" id="scheduleTime" name="scheduleTime" class="form-control" value="{{campaign.scheduling.time | date: 'HH:mm'}}"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="onScheduleTimeClear()"><i class="glyphicon glyphicon-remove"></i></button>
                                <button type="button" class="btn btn-default" popover-placement="right" popover-template="/tpl/schedulingTime.html" is-open="{{campaign.scheduling.timeIsOpen}}"><i class="glyphicon glyphicon-time"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-4"></div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-2"></label>
                    <div class="col-lg-10" ng-show="!campaign.scheduling.enabled">
                        <p>Automatic dispatching is set to <span class="label label-info">manual</span></p>
                    </div>
                    <div class="col-lg-10" ng-show="campaign.scheduling.date && campaign.scheduling.time">
                        <p>This campaign is scheduled to be sent on <span class="label label-info">{{campaign.scheduling.date | date: 'MM/dd/yyyy'}}</span> at <span class="label label-info">{{campaign.scheduling.time | date: 'HH:mm a'}}</span></p>
                    </div>
                </div>
            </fieldset>

            <fieldset ng-disabled="campaign.basic.isRecursive()">
                <div class="form-group">
                    <label class="control-label col-lg-2">Expires:</label>
                    <div class="col-lg-6">
                        <div class="btn-group btn-group-sm">
                            <button name="expiring" type="button" class="btn" ng-class="(campaign.scheduling.expiration.enabled == false) ? 'btn-info' : 'btn-default'" ng-model="campaign.scheduling.expiration.enabled" btn-radio="false">OFF</button>
                            <button name="expiring" type="button" class="btn" ng-class="(campaign.scheduling.expiration.enabled == true) ? 'btn-info' : 'btn-default'" ng-model="campaign.scheduling.expiration.enabled" btn-radio="true">ON</button>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset ng-disabled="!campaign.basic.expiration.enabled && campaign.basic.isRecursive()">
                <div class="form-group">
                    <label class="control-label col-lg-2">Date:</label>
                    <div class="col-lg-3 col-scheduleDateGroup">
                        <div class="input-group">
                            <input type="text" id="expireDate" name="expireDate" class="form-control" value="{{campaign.scheduling.expiration.date | date: 'MM/dd/yyyy'}}">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="onExpirationDateClear()"><i class="glyphicon glyphicon-remove"></i></button>
                                <button type="button" class="btn btn-default" popover-placement="bottom" popover-template="/tpl/expirationDate.html" is-open="{{campaign.scheduling.expiration.dateIsOpen}}"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-scheduleTimeGroup">
                        <div class="input-group">
                            <input type="text" id="expirationTime" name="expirationTime" class="form-control" value="{{campaign.scheduling.expiration.time | date: 'HH:mm'}}"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="onExpirationTimeClear()"><i class="glyphicon glyphicon-remove"></i></button>
                                <button type="button" class="btn btn-default" popover-placement="right" popover-template="/tpl/expirationTime.html" is-open="{{campaign.scheduling.expiration.timeIsOpen}}"><i class="glyphicon glyphicon-time"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-4"></div>
                </div>
            </fieldset>

        </div>
    </div>
    <div class="col-lg-offset-4"></div>
</div>

<script id="/tpl/schedulingDate.html" type="text/ng-template">
    <datepicker class="custom-datepicker" ng-model="campaign.scheduling.date" min-date="campaign.scheduling.minDate" show-weeks="false" ng-change="toggleScheduleDatePicker($event);"></datepicker>
</script>
<script id="/tpl/schedulingTime.html" type="text/ng-template">
    <table class="schedulingTime">
        <tr>
            <td><timepicker show-meridian="false" minute-step="15" ng-model="campaign.scheduling.time"></timepicker></td>
            <td><button type="button" class="btn btn-default" ng-click="toggleScheduleTimePicker($event);">SET</button></td>
        </tr>
    </table>
</script>
<script id="/tpl/expirationDate.html" type="text/ng-template">
    <datepicker class="custom-datepicker" ng-model="campaign.scheduling.expiration.date" min-date="campaign.scheduling.expiration.date" show-weeks="false" ng-change="toggleExpirationDatePicker($event);"></datepicker>
</script>
<script id="/tpl/expirationTime.html" type="text/ng-template">
    <table class="schedulingTime">
        <tr>
            <td><timepicker show-meridian="false" minute-step="15" ng-model="campaign.scheduling.expiration.time"></timepicker></td>
            <td><button type="button" class="btn btn-default" ng-click="toggleExpirationTimePicker($event);">SET</button></td>
        </tr>
    </table>
</script>