<div class="navbar navbar-fixed-top" ng-controller="headerController" ng-hide="!application">

    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#">
                <span>{{application.title}}</span>
            </a>
        </div>

        <div class="collapse navbar-collapse">

            <ul class="nav navbar-nav">

                <li class="active"><a href="#">Dashboard</a></li>

                <li class="dropdown">
                    <a class="dropdown-toggle hand" data-toggle="dropdown">Campaigns <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a ng-href="#/campaigns/create">Create new Campaign</a></li>
                        <li><a ng-href="#/campaigns">Show campaigns</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle hand" data-toggle="dropdown">Statistics <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Campaigns</a></li>
                        <li><a href="#">Users</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Feedback</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle hand" data-toggle="dropdown">Settings <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a ng-href="#/settings/preferences">Preferences</a></li>
                        <li class="divider"></li>
                        <li><a href="#/settings/setup">Setup</a></li>
                    </ul>
                </li>

            </ul>

            <span class="navbar-text pull-right">
                <span>auto-refresh:&nbsp;<span class="label" ng-class="{'label-success': (autoRefresh), 'label-danger': (!autoRefresh)}"><strong>{{ (autoRefresh) ? "ON" : "OFF" }}</strong></span></span>

                <span>services:</span>
                <span ng-show="synch" class="label label-success"><strong>SYNCED</strong></span>
                <span ng-show="!synch" class="label label-danger"><strong>OUT-OF-SYNC</strong></span>
                <notify-popup>
                    <div ng-class="showNotification && !synch ? 'show':'hide'" class="popover bottom fade in" style="left: 920px; top: 40px">
                        <div class="arrow" style="left: 85%"></div>
                        <h3 class="popover-title">Out of Sync.<button type="button" class="btn btn-primary btn-xs pull-right" ng-click="closeNotification()">close</button></h3>
                        <div class="popover-content">Seems that there is a problem contacting the services.</div>
                    </div>
                </notify-popup>
                <ng-spinner options="{ onWaitingClass: 'ng-spinner-waiting' }"></ng-spinner>
            </span>

        </div>
    </div>
</div>
