<div class="row" ng-controller="dashboardController" ng-hide="!application">

    <div class="col-lg-12">

        <h4><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;Overview</h4>

        <p>Check the status of the campaigns here.</p>

        <div class="separator-10"></div>

        <div class="row">
            <div class="col-lg-7">
                <!--ng-class="{'col-lg-12' : weeklyChart.series.length === 0, 'col-lg-7': weeklyChart.series.length > 0}"-->
                <h4>Latest Campaigns</h4>

                <table class="table dashboard">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th class="text-left col-frequency">FREQ.</th>
                            <th>CAMPAIGN NAME</th>
                            <th>PROGRESS</th>
                            <th>STATUS</th>
                            <th>ACTION</th>
                        </tr>
                    </thead>

                    <tbody ng-show="!campaigns.length">
                        <tr>
                            <td colspan="5" class="text-center">
                                <h5>There's no campaigns registered at the moment</h5>
                            </td>
                        </tr>
                    </tbody>

                    <tbody ng-repeat="campaign in campaigns">
                        <tr>
                            <td class="text-center">{{ $index + 1 }}</td>
                            <td class="text-left">
                                <span class="label label-primary" ng-show="!campaign.recursive">1</span>
                                <span ng-show="campaign.recursive">
                                    <span class="label label-primary" ng-show="{{(!campaign.master && campaign.status != 'CLOSED')}}" ng-disabled="true">S</span>
                                    <span class="label label-info" ng-show="campaign.master" title="{{campaign.id}}">R</span>
                                </span>
                                <span class="fa-frequency" ng-show="campaign.scheduled" >
                                    <i class="fa fa-history text-primary" title="{{'SCHEDULED' + ((!campaign.master) ? ' - PID=[' + campaign.parentId + ']' : '')}}"></i>
                                </span>
                            </td>
                            <td><a ng-href="#/campaigns/{{campaign.id}}">{{ campaign.name }}</a></td>
                            <td><progressbar class="progress-striped active" max="campaign.targets.length" value="campaign.feedbackNumber" type="success"><i>{{campaign.feedbackNumber}} / {{campaign.targets.length}}</i></progressbar></td>
                            <td class="text-left"><button type="button" class="btn btn-xs" ng-class="{'btn-warning': (campaign.status === 'WAITING_FOR_FEEDBACK'), 'btn-info': (campaign.status === 'STARTED'), 'btn-success': (campaign.status === 'CLOSED')}" class="btn btn-xs">{{ campaign.status }}</button></td>
                            <td class="text-left">
                                <div ng-hide="campaign.startDate!=null">
                                    <button type="button" class="btn btn-xs btn-success" ng-show="{{(campaign.status === 'CREATED' && campaign.master && !campaign.scheduled)}}" ng-click="onCampaignStart(campaign.id)">
                                        <span>START</span>
                                    </button>
                                    <button type="button" class="btn btn-xs btn-success" ng-show="{{(campaign.status === 'CREATED' && campaign.master && campaign.scheduled)}}"  ng-click="onCampaignStart(campaign.id)">
                                        <!--<dialog size="md" header="Scheduled Campaign" body="This campaign is SCHEDULED to start automatically on {{campaign.scheduleDate | date: 'MM/dd/yyyy HH:mm:ss'}}. Are you sure you want to start it manually?"></dialog>-->
                                        <span>START</span>
                                    </button>
                                </div>
                                <button type="button" class="btn btn-xs btn-info" ng-show="{{(campaign.status === 'WAITING_FOR_FEEDBACK')}}" ng-click="onCampaignStopClose(campaign.id)">
                                    <span>STOP & CLOSE</span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div ng-show="campaigns.length">
                    <a ng-href="#/campaigns" class="label label-primary">VIEW-ALL</a>
                </div>
            </div>
            <!--ng-hide="weeklyChart.series.length === 0"-->
            <div class="col-lg-5 dashboard-chart-section">
                <div class="form-inline">
                    <div class="form-group">
                        <h4>Weekly Feedback</h4>
                    </div>
                    <div class="form-group pull-right weekly-chart">
                        <span ng-click="refresh()"><a href="#">refresh</a>&nbsp;&nbsp;<i class="fa fa-refresh"></i></span>
                    </div>
                </div>

                <div class="separator-20"/>

                <div class="weekly-chart-container">
                    <highchart class="weekly-chart" config="weeklyChart" series="data()"/>
                </div>

            </div>
        </div>

    </div>
</div>