<div class="container" ng-controller="dashboardController">
    <h4><span class="glyphicon  glyphicon-chevron-right"></span>&nbsp;Overview</h4>

    <div class="separator-10"/>

    <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
        Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
    </p>

    <div class="separator-10"/>

    <div class="row">
        <div class="col-lg-7">

            <h4>Latest Campaigns</h4>

            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Campaign Name</th>
                        <th>Progress</th>
                        <!--<th class="text-center">#Feedback</th>-->
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody ng-show="!campaigns.length">
                    <tr>
                        <td colspan="4" class="text-center">
                            <h5>There's no campaigns registered at the moment</h5>
                        </td>
                    </tr>
                </tbody>
                <tbody ng-repeat="campaign in campaigns">
                    <tr>
                        <td>{{ $index + 1 }}</td>
                        <td>{{ campaign.name }}</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="{{campaign.feedbackNumber}}" aria-valuemin="0" aria-valuemax="{{campaign.targets.length}}" style="width: 100%">
                                    <i>{{campaign.feedbackNumber}} / {{campaign.targets.length}}</i>
                                </div>
                            </div>
                        </td>
                        <!--<td class="text-center">{{ campaign.feedbackNumber }}</td>-->
                        <td class="text-left"><button type="button" ng-class="{'btn-danger disabled': (campaign.status === 'WAITING_FOR_FEEDBACK'), 'btn-info': (campaign.status === 'STARTED'), 'btn-success disabled': (campaign.status === 'CLOSED')}" class="btn btn-xs">{{ campaign.status }}</button></td>
                        <td class="text-left">
                            <div ng-hide="campaign.startDate!=null">
                                <button type="button" class="btn btn-xs btn-success" ng-show="{{(campaign.status === 'CREATED')}}" ng-click="onCampaignStart(campaign.id)">
                                    <span>START</span>
                                </button>
                            </div>
                            <button type="button" class="btn btn-xs btn-danger" ng-show="{{(campaign.status === 'WAITING_FOR_FEEDBACK')}}" ng-click="onCampaignStopClose(campaign.id)">
                                <span>STOP & CLOSE</span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div ng-show="campaigns.length">
                <a ng-href="#/campaign/all" class="label label-primary">VIEW-ALL</a>
            </div>
        </div>

        <div class="col-lg-5 dashboard-chart-section">

            <div class="form-inline">
                <div class="form-group">
                    <h4>Weekly Feedback</h4>
                </div>
                <div class="form-group pull-right weekly-chart">
                    <span ng-click="refresh()"><a href="#">refresh</a>&nbsp;&nbsp;<i class="fa fa-refresh"></i></span>
                </div>
            </div>

            <div class="separator-20"/>

            <div class="weekly-chart-container">
                <highchart class="weekly-chart" config="weeklyChart"/>
            </div>

        </div>

    </div>

</div>